# Build output
muncher.exe
libraylib.dll

# Generated import library files
libraylib.a
libraylib.def

# cppcheck report
*.xml

# SonarCloud build-wrapper output
bw-output/

# Editor / OS
.vscode/
*.suo
*.user
Thumbs.db
